# 1주차 데이터 분석 과제 (2~3-5장 실습)

**학번** : 2276093

**이름** : 김희서

**주의사항**
해당 과제를 하기 전에 파일 -> Drive에 사본 저장을 클릭하셔서 드라이브에 사본을 저장하신 후 사본에서 과제를 작성해주세요.
과제를 하시다가 어려운 점이 생기셨다면, 얼마든지 "데이터분석 분반 톡방"에 남겨주시면 멘토들이 답변 드리겠습니다.

# **0. 테스트문제**

In [ ]:
#리스트 자료형을 이용하여 자신의 생년월일을 작성하세요. 아래 양식을 활용해주세요.
a=[200]

a = [2003, 8, 17]
print(a[0], '년', a[1], '월', a[2], '일')

2003 년 8 월 17 일

# **1. 실습문제**

1) 변수

In [ ]:
#실습 3-2. 변수에 데이터 저장하기
a = 1

In [ ]:
#실습 3-3. 두 개 이상의 변수에 데이터 저장하기: 본인의 이름과 나이를 변수에 저장하여 출력
name = '김희서'
age = 22

In [ ]:
#실습 3-4. 변수의 타입 확인하기
a = 300
b = 3.25
c = '안녕하세요'
d = True

print(type(a))  # a의 타입 확인
print(type(b))  # b의 타입 확인
print(type(c))  # c의 타입 확인
print(type(d))  # d의 타입 확인

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

2) 연산자

In [ ]:
#실습 3-5. 동전교환기
money = 10000
print(money//500)

In [ ]:
#실습 3-6. 몫, 나머지 연산자 활용
money=10000
price=450
numCandy=money//price
change=money%price
print(numCandy)
print(change)

In [ ]:
#실습 3-7. 문자열 더하기
head='파이썬'
tail='완전 좋아!'

In [ ]:
#실습 3-7(2). 문자열 곱하기
w='파이썬'
print(w*5)

In [ ]:
#실습 3-8. 문자열 곱하기 응용
print('='*20)
print('파이썬 짱')
print('파이썬 좋아')
print('='*20)

====================
파이썬 짱
파이썬 좋아
====================

3) 표준 입력과 출력

In [ ]:
#실습 3-9. 입력 자료 저장
name=input('이름 입력:')
print(name)

In [ ]:
#실습 3-10. 문자열로 입력된 자료
a=input('숫자1 입력:')
b=input('숫자2 입력:')
print(a+b)

In [ ]:
#실습 3-11. 정수형으로 입력된 자료
a = int(input('숫자 1 입력:'))
b = int(input('숫자 2 입력:'))
print(a+b)

In [ ]:
#실습 3-12. 실수형으로 입력된 자료
c = float(input('숫자 입력:'))
print(c)

In [ ]:
#실습 3-13. end 옵션을 이용한 줄 바꿈 제어
print('파이썬', end=' ')
print('좋아')

파이썬좋아

In [ ]:
#실습 3-14. 콤마(,)로 구분하여 출력
name = input('이름 입력: ')
print('입력하신 이름은', name)

In [ ]:
#실습 3-15. %s 형식지정자를 이용하여 출력
name = input('이름 입력: ')
print('입력하신 이름은 %s' %name)

이름 입력: 김희서
입력하신 이름은 김희서

In [ ]:
#실습 3-16. %d 형식지정자를 이용하여 출력
a = int(input('숫자 1 입력: '))
b = int(input('숫자 2 입력: '))
print('%d + %d = %d' %(a,b,a+b))

숫자 1 입력: 1
숫자 2 입력: 2
1 + 2 = 3

In [ ]:
#실습 3-17. %f 형식지정자를 이용하여 출력
a = int(input('숫자 1 입력: '))
b = int(input('숫자 2 입력: '))
print('%d / %d = %f' %(a,b,a/b))

숫자 1 입력: 10
숫자 2 입력: 5
10 / 5 = 2.000000

In [ ]:
#실습 3-18. format() 함수를 이용하여 출력
a = int(input('숫자 1 입력: '))
b = int(input('숫자 2 입력: '))
print('{0} * {1} = {2}'.format(a,b,a*b))
#중괄호 {}를 원하는 순서대로 따옴표 안에 작성한다
#중괄호에 대응되는 변수는 점(.)을 작성 후 format() 함수 안에 순서대로 작성한다

숫자 1 입력: 3
숫자 2 입력: 4
3 * 4 = 12

In [ ]:
#실습 3-19. 중괄호 순서를 변경하고 자료를 반복하여 출력
print('{1} {1} {0} 노래를 한다'.format('개구리','개굴'))

개굴 개굴 개구리 노래를 한다

In [ ]:
#실습 3-20. f-string 포맷팅을 이용하여 출력
a = int(input('숫자 1 입력: '))
b = int(input('숫자 2 입력: '))
print(f'{a}-{b}={a-b}')

숫자 1 입력: 4
숫자 2 입력: 2
4-2=2

4) 컬렉션 자료형

In [ ]:
#실습 3-21. 일반 변수 사용
hap=0
a = int(input('숫자 1 입력: '))
b = int(input('숫자 2 입력: '))
c = int(input('숫자 3 입력: '))
d = int(input('숫자 4 입력: '))

hap=a+b+c+d
print(f'합계: {hap}')

숫자 1 입력: 1
숫자 2 입력: 2
숫자 3 입력: 3
숫자 4 입력: 3
합계: 9

In [35]:
23#실습 3-22. 리스트 변수 사용
a=[10,10,10,10]
a[0]=int(input('숫자1:'))
a[1]=int(input('숫자2:'))
a[2]=int(input('숫자3:'))
a[3]=int(input('숫자4:'))

hap=a[0]+a[1]+a[2]+a[3]
print(f'합계: {hap}')

숫자1:1
숫자2:2
숫자3:3
숫자4:4
합계: 10

In [ ]:
#실습 3-23. 빈 리스트 생성
a=[]
print(a)

b=list()
print(b)

In [ ]:
#실습 3-24. 리스트 초기화
a=[1,2,3,4,5]
print(a)

b=['안녕','파이썬']
print(b)

In [ ]:
#실습 3-25. 리스트 인덱싱 사용
a=[40,30,20,10]
print(a)
print(a[-1])
print(a[0]+a[1])

In [ ]:
#실습 3-26. 리스트 슬라이싱 사용
a=[50,40,30,[20,10]]
a[0:2]
print(a[0:2])

[50, 40]

In [ ]:
#실습 3-27. 리스트 값 변경하기
a=[30,20,10]
print(a)

a[1:3]=[100,99] #연속된 범위의 값도 변경 가능
print(a)

[30, 20, 10]
[30, 100, 99]

In [ ]:
#실습 3-28. 튜플 초기화
#튜플은 한번 저장된 값을 수정할 수 없는 자료형
a=()
print(a)

a=tuple()
print(a)

a=(3,2,1)
print(a)

a=2,1
print(a)

a=tuple(range(10))
print(a)

a=['월','화','수','목','금','토','일']
a=tuple(a) # 리스트를 튜플로 자료형 변환
print(a)

()
()
(3, 2, 1)
(2, 1)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [36]:
#실습 3-29. 튜플 데이터 변경(error)
a=(30,20,10)
a[0]=100

TypeError: 'tuple' object does not support item assignment

In [ ]:
#실습 3-30. 튜플 인덱싱과 슬라이싱
a=[40,30,20,10]

print(a[0])
print(a[-1])
print(a[1:])
print(a[:2])

40
10
[30, 20, 10]
[40, 30]

In [ ]:
#실습 3-31. 빈 딕셔너리 생성
a={}
print(a)

a=dict()
print(a)

In [ ]:
#실습 3-32. 딕셔너리 초기화
fruit={1:'호두',2:'땅콩'}
print(fruit)

menu={'김밥':3000,'라면':5000}
print(menu)

{1: '호두', 2: '땅콩'}
{'김밥': 3000, '라면': 5000}

In [ ]:
#실습 3-33. 딕셔너리 초기화
menu={'김밥':3000,'라면':5000}
print(menu)
menu['라면']=6000
print(menu)
menu['떡볶이']=4000
print(menu)

{'김밥': 3000, '라면': 5000}
{'김밥': 3000, '라면': 6000}
{'김밥': 3000, '라면': 6000, '떡볶이': 4000}

In [ ]:
#실습 3-34. 세트 초기화
a={30,20,10}
print(a)

a={30,20,30,10}
print(a)

b=set([30,20,10])
print(b)

{10, 20, 30}
{10, 20, 30}
{10, 20, 30}

In [ ]:
#실습 3-35. 세트 합집합, 교집합, 차집합
a={30,20,10}
b={40,20}

print(a&b) #교집합
print(a.intersection(b)) #교집합

print(a|b) #합집합
print(a.union(b)) #합집합

{20}
{20}
{20, 40, 10, 30}
{20, 40, 10, 30}

5) 리스트 내포

In [ ]:
#기본적인 리스트 내포 형식
#list1 항목들에서 순차적으로 꺼내온 자료에 5씩 더한 값을 리스트에 추가하기

list1 = [-5, 0, 1, 5, 10]
[i+5 for i in list1]

[0, 5, 6, 10, 15]

In [ ]:
#list2 항목들에서 순차적으로 꺼내온 자료의 제곱값을 추출하여 리스트에 추가하기

list2 = [1, 2, 3, 4, 5]
new_list = []

for i in list2:
    new_list.append(i ** 2)

print(new_list)

[1, 4, 9, 16, 25]

In [ ]:
#m(미터) 단위로 저장된 list3 데이터를 cm(센티미터) 자료로 변환
#리스트 내포 형식을 활용하기

list3 = [2.6, 5, 4, 9]
new_list = [i * 100 for i in list3]
print(new_list)

[260.0, 500, 400, 900]

In [ ]:
#list4 항목들에서 순차적으로 꺼내온 자료에 1/x 연산을 수행하여 리스트에 추가하기
#조건 있는 리스트 내포 형식을 이용하여 오류를 해결하세요!

list4 = [-40, -20, 0, 20, 40]
result = [1/x for x in list4 if x != 0]
print(result)